body{
    padding: 0;
    margin: 0;
}
#table{
    display: grid;
    grid-template-columns: repeat(18,calc(100% / 18));
    grid-template-rows: 18;

    position: relative;
}
.element{
    width: calc(100% / 18);
    aspect-ratio: 1 / 1;
}